# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# TensorFlow / Keras temporary files
*.h5